<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Create category</h3> 
        </div>
    </div>
</div>
<div class="container mtb ng-scope">
    <div class="row">
        <form name="form"  novalidate class="form-horizontal">
    <div class="form-group" ng-class="{'has-error': !(form.name.$valid)}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4">
            <input placeholder="name" id="name" type="text" ng-minlength="3" name="name" class="form-control"
                   ng-model="category.name" required/>
            <p class="help-block" ng-show="form.name.$error.required">name is required</p>
            <p class="help-block" ng-show="form.name.$error.minlength">name must be at least 3 characters</p>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': !(form.name.$valid)}">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-4">
            <input placeholder="description" id="description" type="text" name="description" class="form-control" ng-model="category.description" />
        </div>
    </div>
    <!-- show disabled button if form is not valid -->
    <div class="form-group">
        <label  class="col-sm-2 control-label"></label>
        <div class="col-sm-4 smallTopPadding">
            <button ng-disabled="!form.$valid" ng-click="create(category)" class="btn btn-primary" type="submit" >Create category</button>
        </div>          
    </div>
    </form>      
</div>    
</div>
