<div id="blue">
    <div class="container">
        <div class="row">
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<form name="form"  novalidate class="form-horizontal">   
    <div class="form-group" ng-class="{'has-error': !(form.place.$valid)}">
        <label for="place" class="col-sm-2 control-label">Place of find</label>
        <div class="col-sm-10">
            <input placeholder="place" id="place" type="text" name="place" class="form-control" ng-model="event.PlaceOfFind" required/>
            <p class="help-block" ng-show="form.place.$error.required">Place of find is required</p>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': !(form.date.$valid)}">
        <label for="date" class="col-sm-2 control-label">Date of find</label>
        <div class="col-sm-10">            
            <input placeholder="date" id="date" type="date" name="date" class="form-control" ng-model="event.dateOfFind" required/>
            <p class="help-block" ng-show="form.date.$error.required">Date of find is required</p>
        </div>
    </div>
    
    <!-- show disabled button if form is not valid -->
    <button ng-disabled="!form.$valid" class="btn btn-primary" type="submit" ng-click="addFinding(event)">Report finding</button>
</form>
