<div id="blue">
    <div class="container">
        <div class="row">
            <h3>List of items</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<div class="container mtb">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>item name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items track by $index">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td><a href="#!/item/{{item.id}}" class="btn btn-info" >View</a></td>
                </tr>
            </tbody>
        </table>
    </div></div>