<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Create item</h3> 
        </div>

    </div>
</div>
<div class="container mtb">
    <div class="row">
        <form name="form"  novalidate class="form-horizontal">
            <div class="form-group" ng-class="{'has-error': !(form.name.$valid)}">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-4">
                    <input placeholder="name" id="name" type="text" ng-minlength="1" name="name" class="form-control"
                           ng-model="item.name" required/>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': !(form.category.$valid)}">
                <label for="description" class="col-sm-2 control-label">Category</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="item.category" ng-options="category.name for category in categories"></select>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': !(form.color.$valid)}">
                <label for="description" class="col-sm-2 control-label">Color</label>
                <div class="col-sm-4">
                    <select class="form-control" ng-model="item.color" ng-options="color for color in colors"></select>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': !(form.description.$valid)}">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-4">
                    <input placeholder="description" ng-minlength="1" id="description" type="text" name="description" class="form-control" ng-model="item.description" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': !(form.weight.$valid)}">
                <label for="description" class="col-sm-2 control-label">Weight</label>
                <div class="col-sm-4">
                    <input placeholder="weight" id="weight" type="number" step ="0.01" name="weight" min="0" class="form-control" ng-model="item.weight" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': !(form.height.$valid)}">
                <label for="description" class="col-sm-2 control-label">Height</label>
                <div class="col-sm-4">
                    <input placeholder="height" id="height" type="number" step ="1" name="height" min="0" class="form-control" ng-model="item.height" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': !(form.width.$valid)}">
                <label for="description" class="col-sm-2 control-label">Width</label>
                <div class="col-sm-4">
                    <input placeholder="width" id="width" type="number" step ="1" name="width" min="0" class="form-control" ng-model="item.width" />
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': !(form.depth.$valid)}">
                <label for="description" class="col-sm-2 control-label">Depth</label>
                <div class="col-sm-4">
                    <input placeholder="depth" id="depth" type="number" step ="1" name="depth" min="0" class="form-control" ng-model="item.depth" />
                </div>
            </div>
            <!-- show disabled button if form is not valid -->
            <div class="form-group">
                <label  class="col-sm-2 control-label"></label>
                <div class="col-sm-4 smallTopPadding">
                    <button ng-disabled="!form.$valid" ng-click="create(item)" class="btn btn-primary" type="submit" >Create item</button>
                </div>

            </div>

        </form>
    </div>
</div>