<div id="headerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="col-md-6">
                    <h4>Search</h4>
                    <p><a href="#!/lostItemList" class="btn btn-theme"><i class="fa fa-search"></i>&emsp;Find</a></p>
                </div>
                <div class="col-md-6">
                    <h4>Add a record</h4>
                    <p><a href="#!/createLostItem" class="btn btn-theme"><i class="fa fa-pencil"></i>&emsp;Add</a></p>
                </div>
            </div>
        </div>
    </div>
</div>