<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Register</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->
<div class="container mtb ng-scope">
    <div class="row">
<form name="form" novalidate class="form-horizontal">
        <div class="form-group" ng-class="{'has-error': !(form.name.$valid)}">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-4">
                <input placeholder="name" id="name" type="text" ng-minlength="2" name="name" class="form-control"
                       ng-model="user.name" required/>
                <p class="help-block" ng-show="form.name.$error.required">name is required</p>
                <p class="help-block" ng-show="form.name.$error.minlength">name must be at least 2 characters</p>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': !(form.email.$valid)}">
            <label for="email" class="col-sm-2 control-label">E-mail</label>
            <div class="col-sm-4">
                <input placeholder="e-mail" id="email" type="email" name="email" class="form-control"
                       ng-model="user.email" required/>
                <p class="help-block" ng-show="form.email.$error.required">email is required</p>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': !(form.password.$valid)}">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-4">
                <input placeholder="password" id="password" type="password" name="password" ng-minlength="6" class="form-control"
                       ng-model="password" required/>
                <p class="help-block" ng-show="form.password.$error.required">password is required</p>
                <p class="help-block" ng-show="form.password.$error.minLength">new password must be at least 6 characters</p>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': !(form.passwordRepeat.$valid)}">
            <label for="passwordRepeat" class="col-sm-2 control-label">Repeat password</label>
            <div class="col-sm-4">
                <input placeholder="repeat password" id="passwordRepeat" type="password" name="passwordRepeat" ng-minlength="6" class="form-control"
                       ng-model="passwordRepeat" required/>
                <p class="help-block" ng-show="form.passwordRepeat.$error.required">repeated password is required</p>
                <p class="help-block" ng-show="form.passwordRepeat.$error.minLength">new password must be at least 6 characters</p>
            </div>
        </div>

        <!-- show disabled button if form is not valid -->
        
        <div class="form-group">
        <label  class="col-sm-2 control-label"></label>
        <div class="col-sm-4 smallTopPadding">
              <button ng-disabled="!form.$valid" class="btn btn-primary" type="submit" ng-click="register(user, password, passwordRepeat)">Register
        </button>
        </div>
            
    </div>
      
</form>
        </div>    
</div>
